<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borrowed Books</title>
    <style>
        body {
          background-color: #e7f9e7;
          margin: 0;
          padding: 0;
          font-family: "Playfair Display", serif;
          font-optical-sizing: auto;
          font-weight: 500;
          font-style: normal;
        }
    </style>
</head>
<body>
    <h1>Borrowed Books</h1>
    <ul>
        {% for borrowed_book in borrowed_books %}
            <li>
                <strong>Book:</strong> {{ borrowed_book.book.title }}<br>
                <strong>Borrowed Date:</strong> {{ borrowed_book.borrowed_date }}<br>
                {% if borrowed_book.returned %}
                    <strong>Returned Date:</strong> {{ borrowed_book.returned_date }}<br>
                {% else %}
                    <strong>Status:</strong> Not Returned<br>
                {% endif %}
            </li>
        {% endfor %}

    </ul>
    <a href="{% url 'borrow' %}"><button>Borrow Book</button></a>
</body>
</html>
