<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borrowed Books</title>
</head>
<body>
    <h1>Borrowed Books</h1>
    <ul>
        {% for borrowed_book in borrowed_books %}
            <li>
                <strong>Book:</strong> {{ borrowed_book.book.title }}<br>
                <strong>Borrowed Date:</strong> {{ borrowed_book.borrowed_date }}<br>
                {% if borrowed_book.returned %}
                    <strong>Returned Date:</strong> {{ borrowed_book.returned_date }}<br>
                {% else %}
                    <strong>Status:</strong> Not Returned<br>
                {% endif %}
            </li>
        {% endfor %}

    </ul>
</body>
</html>
